#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

canvas {
  width: 1024px;
  height: 640px;
  margin: auto;
  display: block;
  background-color: #000;
  image-rendering: pixelated;
  /* image-rendering: crisp-edges; */
}
