* {
  font-smooth: never;
  -webkit-font-smoothing: none;
}

html {
  background-color: #272727;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
  color: #2c3e50;
}


canvas {
  transform: translateY(100%) scale(3) ;
  /* width: 1024px; */
  /* height: 640px; */
  margin: auto;
  display: block;
  background-color: #000;
  image-rendering: pixelated;
}
